:root {
    --ed-blue: #241442;
    --ed-purple: #005280;
    --ed-yellow: #F8BC24;
    --ed-gray: #4F536C;
    --ed-gray2: #445375;
    --black: #000;
    --white: #fff;

    --font-poppins: "Poppins", sans-serif;
}